.delete-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.delete-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 200px;
  margin: 0px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 32px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
}

.delete-form-button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  height: 52px;
  width: 100%;
  border-radius: 60px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.delete-form-button:first-child {
  background-color: #e11d48;
}

.delete-form-button:last-child {
  background-color: transparent;
  color: #111827;
}

.delete-form-button:hover:first-child {
  background-color: #be123c;
}

.delete-form-button:hover:last-child {
  background-color: #e4e4e4;
}

.delete-modal-text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 20px;
}
